# >>> python 3.10 & 3.11
#aequitas==1.0.0

# numpy needs 1.26 starting at py3.12
# pinned version come from constraints
numpy

# All python
ipython
ipywidgets
jupyterlab
matplotlib
pandas
pydantic
pyarrow
scikit-learn
seaborn
ydata-profiling
numba
